body {
    margin: 0;
    overflow: hidden;
}

.juegos{
    margin-top: 4rem;
    background: #ffffff;
    width: 100%;
    min-height: calc(100vh - 4rem) ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.juego01{
    background: #5d12d4;
    padding: 2rem;
    border-radius: 8px;
    text-decoration: none;
    
    
}

.juego01:hover{
    transform: scale(1.2);
    transition: 250ms;

}

.juego01 h1{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
 


}

.juego01 p{
    text-align: center;
    line-height: 2rem;
    color: #ffffff;
}

canvas {
    display: block;
    background-color: #f0f0f0;
    margin: auto;
}
#gameOverScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* css juegos*/

.juegos{
    margin-top: 4rem;
    background: #ffffff;
    width: 100%;
    min-height: calc(100vh - 4rem) ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .juego01{
    background: #5d12d4;
    padding: 2rem;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .juego01:hover{
    transform: scale(1.2);
    transition: 250ms;
  
  }
  
  .juego01 h1{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .juego01 p{
    text-align: center;
    line-height: 2rem;
    color: #ffffff;
  }
  
  canvas {
    display: block;
    background-color: #f0f0f0;
    margin: auto;
  }
  #gameOverScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }